<link rel="stylesheet" href="css/footer.css">
<footer class="text-white text-center py-3 fixed-bottom text-sm">
    <a href="/auth/login" style="text-decoration: none; font-weight: 600; color: white">Log in</a> to your General de Jesus' Google account to access all features. 
</footer>