<h3><b>Terms and Conditions</b></h3> <!--pwede hanggang h5-->
<hr>
<p>Last updated January 21, 2025<p>
<hr>
<p>These Terms and Conditions constitute a legally binding agreement between you, whether personally or on behalf of an entity (you) and Iskolar ni Simeon. ("we," "us" or "our" concerning your access to and use of the Iskolar ni Simeon website as well as any other media form, media channel, mobile website, or mobile application related, linked, or otherwise connected thereto (collectively, the "Site")</p>

<ul>
    <li>list</li>
    <li>list 2</li>
</ul>

<ul>
    <li>list</li>
    <li>list 2</li>
</ul>

<ul>
    <li>list</li>
    <li>list 2</li>
</ul>

<ul>
    <li>list</li>
    <li>list 2</li>
</ul>
