<header>
    <div class="nav">
        <p id="name" class="righteous-regular">Iskolar ni Simeon</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
    </div>
</header>