<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iskolar ni Simeon</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    
</head>
<p>not logged in</p>
<body>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script>
      function handleCredentialResponse(response) {
        fetch("<%= server_api %>", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept' : 'application/json',
                'Origin' : 'http://localhost:8080'
            },
            body: JSON.stringify({'credential' : response.credential}),
        })
        .then(response => {
            if (!response.ok) {
                console.error("Error fetching API.")
            }
            return response.json();
        })
        .then(data => {
            fetch('/login/setup-session', {
              method: 'POST',
              headers: {
                'Content-Type' : 'application/json'
              },
              body: JSON.stringify({
                jwtToken:  data.jwtToken,
                userId: data.token.sub,
                name: data.token.given_name,
                email: data.token.email,
                picture: data.token.picture
              })
            }).then(res => {
              if (res.ok) location.replace('/');
              else console.error("Failed to setup session.")
            })
        })
      }
      window.onload = function () {
        google.accounts.id.initialize({
          client_id: '<%= oauthid %>',
          callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
          document.getElementById("buttonDiv"),
          { theme: "outline", size: "large" } 
        );
        google.accounts.id.prompt();
      }
    </script>
    <div id="buttonDiv"></div>
  </body>
</html>
