@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 45px;
    padding-bottom: 45px;
}

.outer-container {
    padding: 0 4rem;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    opacity: 0;
    transform: translateY(-20px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    margin-bottom: 1rem;
}

.card.animate {
    opacity: 1;
    transform: translateY(0);
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.results-inner-container {
    padding: 1rem;
    border: 2px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 0 10px #008a101a;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    height: 50dvh;
    width: 100%;

}

.results-inner-container::-webkit-scrollbar {
    width: 10px;
}

@keyframes fadeDrop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Adjusted width */
        font-size: small;
    }
    .results-inner-container {
        width: 90%;
    }
}
